# 4.6 Set Logic

In [1]:
import numpy as np

NumPy has some basic set operations for one-dimensional ndarrays.

In [2]:
names = np.array(['Bob', 'Will', 'Joe', 'Bob', 'Will', 'Joe', 'Joe'])

## 4.6.1 `np.unique`

`np.unique` returns the sorted, unique values in an array.

In [3]:
print(f"Original names: {names}")
print(f"Unique names: {np.unique(names)}")

Original names: ['Bob' 'Will' 'Joe' 'Bob' 'Will' 'Joe' 'Joe']
Unique names: ['Bob' 'Joe' 'Will']

In [4]:
ints = np.array([3, 3, 3, 2, 2, 1, 1, 4, 4])
print(f"Original ints: {ints}")
print(f"Unique ints: {np.unique(ints)}")

Original ints: [3 3 3 2 2 1 1 4 4]
Unique ints: [1 2 3 4]

Compare this with the pure Python alternative:

In [5]:
print(f"Pure Python unique: {sorted(set(names))}")

Pure Python unique: [np.str_('Bob'), np.str_('Joe'), np.str_('Will')]

## 4.6.2 Set Operations

NumPy provides several other set operations.

In [6]:
values = np.array([6, 0, 0, 3, 2, 5, 6])
set1 = np.array([2, 3, 6])
print(f"values: {values}")
print(f"set1: {set1}")

values: [6 0 0 3 2 5 6]
set1: [2 3 6]

#### `np.intersect1d`
Computes the sorted, common elements in two arrays.

In [7]:
print(f"Intersection: {np.intersect1d(values, set1)}")

Intersection: [2 3 6]

#### `np.union1d`
Computes the sorted union of elements.

In [8]:
print(f"Union: {np.union1d(values, set1)}")

Union: [0 2 3 5 6]

#### `np.isin`
Computes a boolean array indicating whether each element of the first array is contained in the second.

In [9]:
print(f"Is in: {np.isin(values, set1)}")

Is in: [ True False False  True  True False  True]

#### `np.setdiff1d`
Computes the set difference, the elements in the first array that are not in the second.

In [10]:
print(f"Set difference: {np.setdiff1d(values, set1)}")

Set difference: [0 5]

#### `np.setxor1d`
Computes the symmetric difference, the elements that are in either of the arrays, but not both.

In [11]:
print(f"Symmetric difference: {np.setxor1d(values, set1)}")

Symmetric difference: [0 5]